<div
  id="<%= dom_id(post) %>"
  class="p-2 bg-white rounded-lg shadow border-b border-b-indigo-100 
        <%= post.draft? ? 'draft' : 'published' %>"
  data-dashboard--list-target="item">
  <h1 class="text-lg text-gray-800"><%= post.title %></h1>

  <div class="flex justify-between mt-2">
    <div class="inline-flex rounded-md shadow-sm" role="group">
      <%= link_to(
        "Show", 
        cms_post_path(post),
        data: {
          turbo_frame: "main",
          turbo_action: "advance"
        },
        class: "py-1 px-3 text-xs font-medium text-gray-600
                bg-white border border-gray-200
                hover:bg-gray-100 hover:text-indigo-700 focus:z-10
                focus:ring-2 focus:ring-indigo-700 focus:text-indigo-700
                #{post.draft? ? 'rounded-l-md' : 'rounded-md'}"
      )%>
      <% if post.draft? %>
        <%= link_to(
          "Delete", 
          cms_post_path(post),
          data: {
            turbo_method: :delete,
            turbo_confirm: 'Are you sure?',
            action: "click->dashboard--list#markItem"
          },
          class: "py-1 px-3 text-xs font-medium text-gray-600
                  bg-white rounded-r-md border border-l-0 border-gray-200
                  hover:bg-gray-100 hover:text-indigo-700 focus:z-10
                  focus:ring-2 focus:ring-indigo-700 focus:text-indigo-700"
        )%>
      <% end %>
    </div>

    <%= link_to(
      "Attachments", 
      cms_post_documents_path(post),
      target: "_top",
      class: "block text-white bg-indigo-500 hover:bg-indigo-600
              focus:ring-4 focus:ring-indigo-300 font-medium
              rounded-md text-xs px-3 py-1 text-center border
              border-indigo-400"
    )%>
  </div>
</div>
