<div class="mx-auto px-6 w-full sm:px-16 lg:w-3/4 xl:w-7/12">
  <%= link_to :back, class: "inline-flex items-center justify-center text-slate-400 mb-6" do %>
    <svg
      class="w-7 h-7 fill-[none] stroke-current stroke-2"
      stroke-linecap="round"
      stroke-linejoin="round">
      <use href="/assets/feather-sprite.svg#arrow-left-circle" />
    </svg>

    <span class="inline-block ml-3 text-xl font-light">
      Back
    </span>
  <% end %>

  <h1 class="font-serif text-4xl mb-2 text-zinc-900"><%= @post.title %></h1>

  <div class="inline-flex items-center justify-center text-slate-400 mb-10">
    <svg
      class="w-4 h-4 fill-[none] stroke-current stroke-2"
      stroke-linecap="round"
      stroke-linejoin="round">
      <use href="/assets/feather-sprite.svg#calendar" />
    </svg>

    <span class="inline-block mx-2 text-base">
      <% if @post.draft? %>
        <%= @post.updated_at.strftime("%d %B %Y") %> (last modified)
      <% else %>
        <%= @post.published_at.strftime("%d %B %Y") %>
      <% end %>
    </span>
  </div>

  <div class="text-gray-800 mb-6">
    <%= @post.content %>
  </div>

  <%= turbo_frame_tag "post-publication-section" do %>
    <div class="inline-flex">
      <% if CMS::PostPolicy.new(current_admin, @post).edit? %>
        <%= link_to(
          "Edit",
          edit_cms_post_path(@post),
          target: "_top",
          class: "btn btn--normal btn--secondary"
        )%>
      <% end %>

      <% if CMS::PublicationPolicy.new(current_admin, @post).update? %>
        <%= button_to(
          "Publish Post",
          publish_cms_post_path(@post),
          method: :patch,
          params: {post: {publication_state: "published"}},
          class: "mr-3 btn btn--normal btn--success"
        )%>
      <% end %>
    </div>
  <% end %>
</div>
