<%= render(Comment::ItemDetailsComponent.new(comment: @comment, view: @view)) do |i| %>
  <% i.with_metadatum(class_name: "text-indigo-400 text-sm") do |m| %>
    <% m.with_icon do %>
      <%= render(Icon::Outline::UserCircleComponent.new(classes: "w-4 h-4")) %>
    <% end %>

    <%= m.with_text.with_content(@comment.author.profile.full_name) %>
  <% end %>

  <% i.with_metadatum(class_name: "text-indigo-400 text-sm") do |m| %>
    <% m.with_icon do %>
      <%= render(Icon::Mini::CalendarDaysComponent.new(
        title: "Posted on",
        fill: "currentColor",
        view_box: "0 0 20 20",
        classes: "w-4 h-4"
      )) %>
    <% end %>

    <%= m.with_text.with_content(@comment.created_at.strftime("%d %b %Y")) %>
  <% end %>

  <% i.with_comment_content do %>
    <div id="<%= dom_id(@comment, :content) %>" class="break-words <%= @view == :show ? 'mb-6' : '' %>">
      <%= @comment.content %>
    </div>
  <% end %>

  <% i.with_action(
    path: comment_comments_path(@comment),
    class_name: "text-sm text-indigo-400 hover:bg-indigo-50 hover:text-indigo-800"
  ) do |a| %>
    <%= a.with_icon.with_content(render(Icon::Outline::ChatBubblesComponent.new(classes: "w-4 h-4"))) %>

    <% a.with_text do %>
      <%= @comment.comments_total %>
      <%= "comment".pluralize(@comment.comments_total) %>
    <% end %>
  <% end %>

  <% i.with_action(
    path: new_comment_comment_path(@comment),
    class_name: "text-sm text-indigo-400 hover:bg-indigo-50 hover:text-indigo-800"
  ) do |a| %>
    <%= a.with_icon.with_content(render(Icon::Outline::ChatBubbleNewComponent.new(classes: "w-4 h-4"))) %>

    <% a.with_text do %>
      Add Comment
    <% end %>
  <% end %>
<% end %>
