<h3 class="pt-0 text-xl font-medium text-gray-900">
  Edit Property Record
</h3>

<%= turbo_frame_tag "dashboard-content" do %>
  <div class="p-4">
    <%= form_with(
      scope: :property,
      model: @property_form,
      url: owners_property_path(@property),
      method: :patch,
      id: dom_id(@property)
    ) do |form| %>
      <div class="space-y-6">
        <% if @property_form.errors.any? %>
          <div id="error_explanation" class="bg-red-50 text-red-600 text-sm rounded-lg p-6 mb-6">
            <h2 class="font-medium mb-2">
              <%= pluralize(@property_form.errors.count, "error") %> prohibited this property from being updated
            </h2>

            <ul role="list" class="list-inside list-disc">
              <% @property_form.errors.full_messages.each do |message| %>
                <li class="font-light"><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="flex gap-x-8">
          <div class="field basis-1/2">
            <%= form.label :tower_number, class: "block mb-2 text-sm font-medium text-gray-900" %>

            <div class="relative mt-1">
              <div class="flex absolute inset-y-0 left-0 items-center pl-3
                pointer-events-none text-gray-400">
                <svg
                  class="w-5 h-5 fill-[none] stroke-current stroke-2"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <%= svg_icon("feather-sprite.svg", "home") %>
                </svg>
              </div>

              <%= form.select(
                :tower_number,
                %w[1 2 3 4 5 6 7 8 9 10 12 12A 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29],
                { prompt: "Select Tower" },
                class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm
                rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block
                w-full pl-10 p-2.5"
              )%>
            </div>
          </div>

          <div class="field basis-1/2">
            <%= form.label :flat_number, class: "block mb-2 text-sm font-medium text-gray-900" %>

            <div class="relative mt-1">
              <div class="flex absolute inset-y-0 left-0 items-center pl-3
                pointer-events-none text-gray-400">
                <svg
                  class="w-5 h-5 fill-[none] stroke-current stroke-2"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <%= svg_icon("feather-sprite.svg", "home") %>
                </svg>
              </div>

              <%= form.text_field(
                :flat_number,
                class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm
                rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block
                w-full pl-10 p-2.5"
              )%>
            </div>
          </div>
        </div>

        <div class="field">
          <%= form.label :purchased_on, class: "block mb-2 text-sm font-medium text-gray-900" %>

          <div class="relative mt-1">
            <div class="flex absolute inset-y-0 left-0 items-center pl-3
              pointer-events-none text-gray-400">
              <svg
                class="w-5 h-5 fill-[none] stroke-current stroke-2"
                stroke-linecap="round"
                stroke-linejoin="round">
                <%= svg_icon("feather-sprite.svg", "calendar") %>
              </svg>
            </div>

            <%= form.date_field(
              :purchased_on,
              class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm
              rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block
              w-full pl-10 p-2.5"
            )%>
          </div>
        </div>

        <div class="field">
          <%= form.label(
            :registration,
            "Is this property registered?",
            class: "block mb-2 text-sm font-medium text-gray-900"
          )%>

          <div class="mt-1">
            <div class="flex items-center mb-2">
              <%= form.radio_button(
                :registration,
                true,
                class: "w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500"
              )%>
              <%= form.label(
                :registration_true,
                "Yes",
                class: "ml-2 text-sm font-medium text-gray-900"
              )%>
            </div>

            <div class="flex items-center">
              <%= form.radio_button(
                :registration,
                false,
                class: "w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500"
              )%>
              <%= form.label(
                :registration_false,
                "No",
                class: "ml-2 text-sm font-medium text-gray-900"
              )%>
            </div>
          </div>
        </div>

        <div class="field">
          <%= form.label(
            :primary_ownership,
            "Are you the primary owner?",
            class: "block mb-2 text-sm font-medium text-gray-900"
          )%>

          <div class="mt-1">
            <div class="flex items-center mb-2">
              <%= form.radio_button(
                :primary_ownership,
                true,
                class: "w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500"
              )%>
              <%= form.label(
                :primary_ownership_true,
                "Yes",
                class: "ml-2 text-sm font-medium text-gray-900"
              )%>
            </div>

            <div class="flex items-center">
              <%= form.radio_button(
                :primary_ownership,
                false,
                class: "w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500"
              )%>
              <%= form.label(
                :primary_ownership_false,
                "No",
                class: "ml-2 text-sm font-medium text-gray-900"
              )%>
            </div>
          </div>
        </div>

        <%= form.submit "Update Property Record", class: "btn btn--normal btn--primary w-full" %>
      </div>
    <% end %>

    <div class="mt-2">
      <%= render(Link::DefaultButtonComponent.new(
        variant: "error",
        block: true,
        href: properties_owners_dashboard_path
      )) do |c| %>
        <% c.with_icon do %>
          <%= render(Icon::ArrowLongLeftComponent.new(
            view_box: "0 0 20 20",
            fill: "currentColor",
            classes: "w-4 h-4"
          )) %>
        <% end %>

        <% c.with_text.with_content("Cancel and Go Back") %>
      <% end %>
    </div>
  </div>
<% end %>
