<%= turbo_frame_tag "dashboard-content" do %>
  <div id="dashboard-property" class="overflow-x-auto relative">
    <table class="w-full break-all">
      <tbody>
        <tr class="border-b">
          <th scope="row" class="py-4 px-6 whitespace-nowrap capitalize font-normal">
            Tower Number
          </th>
          <td class="py-4 px-6 font-medium text-gray-900">
            <%= @property.apartment.tower_number %>
          </td>
        </tr>

        <tr class="border-b">
          <th scope="row" class="py-4 px-6 whitespace-nowrap capitalize font-normal">
            Flat Number
          </th>
          <td class="py-4 px-6 font-medium text-gray-900">
            <%= @property.apartment.flat_number %>
          </td>
        </tr>

        <tr class="border-b">
          <th scope="row" class="py-4 px-6 whitespace-nowrap capitalize font-normal">
            Date of Purchase
          </th>
          <td class="py-4 px-6 font-medium text-gray-900">
            <%= @property.purchased_on.strftime("%d %B %Y") %>
          </td>
        </tr>

        <tr class="border-b">
          <th scope="row" class="py-4 px-6 whitespace-nowrap capitalize font-normal">
            Property registered
          </th>
          <td class="py-4 px-6 font-medium text-gray-900">
            <%= @property.registered ? "Yes" : "No" %>
          </td>
        </tr>

        <tr class="border-b">
          <th scope="row" class="py-4 px-6 whitespace-nowrap capitalize font-normal">
            Primary Owner
          </th>
          <td class="py-4 px-6 font-medium text-gray-900">
            <%= @property.primary_owner ? "Yes" : "No" %>
          </td>
        </tr>

        <% if @property.membership.rejected? %>
          <tr class="border-b">
            <th scope="row" class="py-4 px-6 whitespace-nowrap capitalize font-normal">
              Reason for rejection
            </th>
            <td class="py-4 px-6 font-medium text-gray-900">
              <%= @property.membership.remark %>
            </td>
          </tr>
        <% end %>

        <tr>
          <th scope="row" class="py-4 px-6" colspan="2">
            <%= render(Link::DefaultButtonComponent.new(
              href: properties_owners_dashboard_path,
              variant: :secondary,
              size: :small
            )) do |c| %>
              <% c.with_icon do %>
                <%= render(Icon::ArrowLongLeftComponent.new(
                  view_box: "0 0 20 20",
                  fill: "currentColor",
                  classes: "w-4 h-4"
                )) %>
              <% end %>

              <% c.with_text.with_content("Go Back") %>
            <% end %>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>
