<%= form_for(
  resource,
  as: resource_name,
  url: registration_path(resource_name),
  html: { method: :put }
) do |f| %>
  <div class="space-y-6">
    <%= render "accounts/owners/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, class: "block mb-2 text-sm font-medium text-gray-900" %>

      <div class="relative mt-1">
        <div class="flex absolute inset-y-0 left-0 items-center pl-3
                    pointer-events-none text-gray-400">
          <svg
            class="w-5 h-5 fill-[none] stroke-current stroke-2"
            stroke-linecap="round"
            stroke-linejoin="round">
            <%= svg_icon("feather-sprite.svg", "mail") %>
          </svg>
        </div>

        <%= f.email_field(
          :email,
          autofocus: true,
          autocomplete: "email",
          disabled: true,
          class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm
                  rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block
                  w-full pl-10 p-2.5"
        )%>
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password, "New Password", class: "block mb-2 text-sm font-medium text-gray-900" %>

      <div class="relative mt-1">
        <div class="flex absolute inset-y-0 left-0 items-center pl-3
                    pointer-events-none text-gray-400">
          <svg
            class="w-5 h-5 fill-[none] stroke-current stroke-2"
            stroke-linecap="round"
            stroke-linejoin="round">
            <%= svg_icon("feather-sprite.svg", "key") %>
          </svg>
        </div>

        <%= f.password_field(
          :password,
          autocomplete: "new-password",
          class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm
                  rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block
                  w-full pl-10 p-2.5"
        )%>
      </div>
      <% if @minimum_password_length %>
        <p class="text-sm text-gray-500"><%= @minimum_password_length %> characters minimum</p>
        <p class="text-sm text-gray-500">Leave blank if you don't want to change it</p>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, class: "block mb-2 text-sm font-medium text-gray-900" %>

      <div class="relative mt-1">
        <div class="flex absolute inset-y-0 left-0 items-center pl-3
                    pointer-events-none text-gray-400">
          <svg
            class="w-5 h-5 fill-[none] stroke-current stroke-2"
            stroke-linecap="round"
            stroke-linejoin="round">
            <%= svg_icon("feather-sprite.svg", "key") %>
          </svg>
        </div>

        <%= f.password_field(
          :password_confirmation,
          autocomplete: "new-password",
          class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm
                  rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block
                  w-full pl-10 p-2.5"
        )%>
      </div>
    </div>

    <div class="field">
      <%= f.label :current_password, class: "block mb-2 text-sm font-medium text-gray-900" %>

      <div class="relative mt-1">
        <div class="flex absolute inset-y-0 left-0 items-center pl-3
                    pointer-events-none text-gray-400">
          <svg
            class="w-5 h-5 fill-[none] stroke-current stroke-2"
            stroke-linecap="round"
            stroke-linejoin="round">
            <%= svg_icon("feather-sprite.svg", "key") %>
          </svg>
        </div>

        <%= f.password_field(
          :current_password,
          autocomplete: "current-password",
          class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm
                  rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block
                  w-full pl-10 p-2.5"
        )%>
      </div>
      <p class="text-sm text-gray-500">We need your current password to confirm your changes</p>
    </div>

    <%= f.button class: "btn btn--normal btn--primary w-full" do %>
      <span class="inline-block mr-1">Update</span>

      <svg
        class="inline-block w-4 h-4 fill-[none] stroke-current stroke-2"
        stroke-linecap="round"
        stroke-linejoin="round">
        <%= svg_icon("feather-sprite.svg", "edit-3") %>
      </svg>
    <% end %>
  </div>
<% end %>
