<div class="p-4 mx-auto max-w-md bg-white sm:rounded-lg sm:border sm:border-gray-200
            sm:shadow-md sm:p-6 lg:p-8">
  <%= form_for(
    resource,
    as: resource_name,
    url: registration_path(resource_name)
  ) do |f| %>
    <div class="space-y-6">
      <%= render "accounts/owners/shared/error_messages", resource: resource %>

      <h3 class="pt-0 text-xl font-medium text-gray-900">
        Sign up for LB AOA
      </h3>

      <div class="field">
        <%= f.label :email, class: "block mb-2 text-sm font-medium text-gray-900" %>

        <div class="relative mt-1">
          <div class="flex absolute inset-y-0 left-0 items-center pl-3
                      pointer-events-none text-gray-400">
            <svg
              class="w-5 h-5 fill-[none] stroke-current stroke-2"
              stroke-linecap="round"
              stroke-linejoin="round">
              <%= svg_icon("feather-sprite.svg", "mail") %>
            </svg>
          </div>

          <%= f.email_field(
            :email,
            autofocus: true,
            autocomplete: "email",
            class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm
                    rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block
                    w-full pl-10 p-2.5"
          )%>
        </div>
      </div>

      <%= f.fields_for :profile do |profile_form| %>
        <div class="field">
          <%= profile_form.label :first_name, class: "block mb-2 text-sm font-medium text-gray-900" %>

          <div class="relative mt-1">
            <div class="flex absolute inset-y-0 left-0 items-center pl-3
                        pointer-events-none text-gray-400">
              <svg
                class="w-5 h-5 fill-[none] stroke-current stroke-2"
                stroke-linecap="round"
                stroke-linejoin="round">
                <%= svg_icon("feather-sprite.svg", "type") %>
              </svg>
            </div>

            <%= profile_form.text_field(
              :first_name,
              class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm
                      rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block
                      w-full pl-10 p-2.5"
            )%>
          </div>
        </div>

        <div class="field">
          <%= profile_form.label :last_name, class: "block mb-2 text-sm font-medium text-gray-900" %>

          <div class="relative mt-1">
            <div class="flex absolute inset-y-0 left-0 items-center pl-3
                        pointer-events-none text-gray-400">
              <svg
                class="w-5 h-5 fill-[none] stroke-current stroke-2"
                stroke-linecap="round"
                stroke-linejoin="round">
                <%= svg_icon("feather-sprite.svg", "type") %>
              </svg>
            </div>

            <%= profile_form.text_field(
              :last_name,
              class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm
                      rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block
                      w-full pl-10 p-2.5"
            )%>
          </div>
        </div>
      <% end %>

      <div class="field">
        <div class="block mb-2 text-sm font-medium text-gray-900">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            (<%= @minimum_password_length %> characters minimum)
          <% end %>
        </div>

        <div class="relative mt-1">
          <div class="flex absolute inset-y-0 left-0 items-center pl-3
                      pointer-events-none text-gray-400">
            <svg
              class="w-5 h-5 fill-[none] stroke-current stroke-2"
              stroke-linecap="round"
              stroke-linejoin="round">
              <%= svg_icon("feather-sprite.svg", "key") %>
            </svg>
          </div>

          <%= f.password_field(
            :password,
            autocomplete: "current-password",
            class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm
                    rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block
                    w-full pl-10 p-2.5"
          )%>
        </div>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: "block mb-2 text-sm font-medium text-gray-900" %>
        <div class="relative mt-1">
          <div class="flex absolute inset-y-0 left-0 items-center pl-3
                      pointer-events-none text-gray-400">
            <svg
              class="w-5 h-5 fill-[none] stroke-current stroke-2"
              stroke-linecap="round"
              stroke-linejoin="round">
              <%= svg_icon("feather-sprite.svg", "key") %>
            </svg>
          </div>

          <%= f.password_field(
            :password_confirmation,
            autocomplete: "new-password",
            class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm
                    rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block
                    w-full pl-10 p-2.5"
          )%>
        </div>
      </div>

      <%= f.button class: "btn btn--normal btn--secondary w-full" do %>
          <span class="inline-block mr-1">Sign Up</span>
          <svg
            class="inline-block w-5 h-5 fill-[none] stroke-current stroke-2"
            stroke-linecap="round"
            stroke-linejoin="round">
            <%= svg_icon("feather-sprite.svg", "user") %>
          </svg>
      <% end %>

      <div class="text-sm text-indigo-500">
        <%= render "accounts/owners/shared/links" %>
      </div>
    </div>
  <% end %>
</div>
