<div class="mx-auto w-10/12 sm:w-9/12 md:w-11/12 xl:w-10/12 2xl:w-9/12">
  <%= turbo_frame_tag :main do %>
    <% if policy(Front::Search::PostForm.new).new? %>
      <%= link_to(
        new_search_post_path(
          category_id: params[:category_id],
          tags_list: params[:tags_list],
          start_date: params[:start_date],
          end_date: params[:end_date]
        ),
        class: "ml-auto mb-4 flex items-center justify-end btn btn--small btn--primary mr-0",
        data: { turbo_frame: "modal" }
      ) do %>
        <svg
          class="w-4 h-4 fill-[none] stroke-current stroke-2"
          stroke-linecap="round"
          stroke-linejoin="round">
          <%= svg_icon("feather-sprite.svg", "search") %>
        </svg>

        <span class="inline-block mx-2 text-sm capitalize">
          Refine Search
        </span>
      <% end %>
    <% end %>

    <%= turbo_frame_tag "results" do %>
      <% turbo_exempts_page_from_cache %>

        <%= turbo_frame_tag(
          :search_results,
          src: results_search_posts_path(
            page: @page,
            category_id: params[:category_id],
            tags_list: params[:tags_list],
            start_date: params[:start_date],
            end_date: params[:end_date]
          ),
          data: { action: "turbo:frame-load->search--post--modal#hideModal" }
        ) do %>
          <div class="grid gap-10 lg:grid-cols-2 2xl:grid-cols-3">
            <% 3.times do %>
              <%= render partial: "shared/skeleton" %>
            <% end %>
          </div>
        <% end %>
    <% end %>
  <% end %>
</div>
