<div class="mx-auto w-10/12 sm:w-9/12 md:w-8/12 lg:w-11/12 xl:w-10/12 2xl:w-9/12">
  <%= turbo_frame_tag :main do %>
    <%= link_to(
      new_search_post_path,
      class: "ml-auto mb-4 flex items-center justify-end btn btn--small btn--primary mr-0",
      data: { turbo_frame: "modal" }
    ) do %>
      <svg
        class="w-4 h-4 fill-[none] stroke-current stroke-2"
        stroke-linecap="round"
        stroke-linejoin="round">
        <%= svg_icon("feather-sprite.svg", "search") %>
      </svg>

      <span class="inline-block mx-2 text-sm capitalize">
        Search
      </span>
    <% end %>

    <%= turbo_frame_tag "posts" do %>
        <%= turbo_frame_tag(
          :published_posts,
          src: published_posts_path(page: @page)
        ) do %>
          <div class="grid gap-10 lg:grid-cols-2 2xl:grid-cols-3">
            <% 3.times do %>
              <%= render partial: "skeleton" %>
            <% end %>
          </div>
        <% end %>
    <% end %>
  <% end %>
</div>
