<div class="mx-auto w-10/12 md:w-10/12 lg:w-9/12 xl:w-7/12 2xl:w-6/12">
  <div class="mb-6">
    <%= render(Link::DefaultButtonComponent.new(
      href: new_discussion_path,
      variant: :secondary
    )) do |c| %>
      <% c.with_icon do %>
        <%= render(Icon::Outline::PlusCircleComponent.new(
          classes: "w-5 h-5"
        )) %>
      <% end %>

      <% c.with_text.with_content("Start a new discussion") %>
    <% end %>
  </div>

  <div id="discussions-list" class="space-y-2 mb-8">
    <% @discussions.each do |discussion| %>
      <%= render(Discussion::ListItemComponent.new(discussion: discussion)) do |li| %>
        <% li.with_metadata_activity(class_name: "text-sm text-blue-400") do |m| %>
          <%= m.with_icon.with_content(render(Icon::Outline::ActivityComponent.new(
            stroke_width: 2, 
            classes: "w-4 h-4"
          ))) %>

          <% m.with_text do %>
            Last activity <%= time_ago_in_words(discussion.updated_at) %> ago
          <% end %>
        <% end %>

        <% li.with_header(render_icon: discussion.locked?) do |h| %>
          <% h.with_icon do %>
            <%= render(
              Icon::Mini::LockClosedComponent.new(
                title: "Locked Discussion",
                fill: "currentColor",
                view_box: "0 0 20 20",
                classes: "float-left mt-0.5 mr-2 w-5 h-5 p-0.5 border border-red-300 rounded-full fill-red-500"
              )
            )%>
          <% end %>

          <% h.with_heading(id: dom_id(discussion, :subject), class_name: "mb-2 text-lg text-blue-800 leading-tight") do %>
            <%= discussion.subject %>
          <% end %>
        <% end %>

        <% li.with_metadatum(class_name: "text-blue-400") do |m| %>
          <% m.with_icon do %>
            <%= render(Icon::Mini::CalendarDaysComponent.new(
              title: "Posted on",
              fill: "currentColor",
              view_box: "0 0 20 20",
              classes: "w-4 h-4"
            )) %>
          <% end %>

          <%= m.with_text.with_content(discussion.created_at.strftime("%d %b %y")) %>
        <% end %>

        <% li.with_metadatum(class_name: "text-blue-400") do |m| %>
          <%= m.with_icon.with_content(render(Icon::Outline::ChatBubblesComponent.new(classes: "w-4 h-4"))) %>

          <% m.with_text do %>
            <%= discussion.comments_total %>
            <%= "comment".pluralize(discussion.comments_total) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <%= render(
    partial: "shared/navigation_controls",
    locals: {
      pagy: @pagy,
      prev_path: @pagy.prev ? discussions_path(page: @pagy.prev) : "#",
      next_path: @pagy.next ? discussions_path(page: @pagy.next) : "#"
    }
  )%>
</div>
