<div
  class="mx-auto w-10/12 md:w-10/12 lg:w-9/12 xl:w-7/12 2xl:w-6/12 mb-4"
>
  <div class="mb-6">
    <%= render(Link::DefaultButtonComponent.new(
      href: discussions_path,
      variant: :secondary,
      size: :small
    )) do |c| %>
      <% c.with_icon do %>
        <%= render(Icon::ArrowLongLeftComponent.new(
          view_box: "0 0 20 20",
          fill: "currentColor",
          classes: "w-4 h-4"
        )) %>
      <% end %>

      <% c.with_text.with_content("Go back to Discussions") %>
    <% end %>
  </div>

  <div class="mb-8">
    <%= turbo_frame_tag dom_id(@discussion, :show) do %>
      <%= render(Discussion::ItemComponent.new(discussion: @discussion)) %>
    <% end %>
  </div>

  <%= turbo_frame_tag "#{dom_id(@discussion, :comment_form)}" do %>
  <% end %>

  <%= turbo_frame_tag "comments-total" do %>
    <%= render Discussion::TextTupleComponent.new(
      renderable: @discussion.comments_total > 0,
      class_name: "mb-2 px-2 text-indigo-400 text-lg"
    ) do |c| %>
      <%= c.with_icon.with_content(render(Icon::Outline::ChatBubblesComponent.new(classes: "w-5 h-5"))) %>

      <% c.with_text do %>
        <%= @discussion.comments_total %>
        <%= "comment".pluralize(@discussion.comments_total) %>
      <% end %>
    <% end %>
  <% end %>

  <%= turbo_frame_tag(
    "#{dom_id(@discussion, :comments)}",
    src: discussion_comments_path(@discussion),
    class: "space-y-8 sm:space-y-4",
    loading: :lazy
  ) do %>
    <div class="flex justify-center items-center">
      <%= render Animation::SpinnerComponent.new %>
    </div>
  <% end %>
</div>
