<%= form_with(
  model: [:cms, post, document],
  id: dom_id(document, :post),
  data: {
    controller: "reset-form",
    action: "turbo:submit-end->reset-form#reset"
  }
) do |form| %>
  <% if document.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-600 rounded-lg p-6 mb-6">
      <h2 class="font-medium mb-2">
        <%= pluralize(document.errors.count, "error") %> prohibited this document from being attached
      </h2>

      <ul role="list" class="list-inside list-disc">
        <% document.errors.full_messages.each do |message| %>
          <li class="font-light"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-6">
    <%= form.label(
      :annotation,
      class: "block mb-2 text-sm font-medium text-gray-900"
    )%>

    <%= form.text_field(
      :annotation,
      class: "border border-gray-300 text-gray-900 text-sm p-2.5 block w-full
              rounded-lg focus:ring-blue-500 focus:border-blue-500"
    )%>
  </div>

  <div class="mb-6">
    <%= form.label(
      :file,
      "Upload Document",
      class: "block mb-2 text-sm font-medium text-gray-900"
    )%>

    <%= form.file_field(
      :file,
      class: "block w-full text-sm text-gray-900 bg-gray-50 rounded-lg
              border border-gray-300 cursor-pointer focus:outline-none
              focus:border-transparent"
    )%>
  </div>

  <div>
    <%= form.submit "Upload Document", class: "btn btn--normal btn--primary" %>
  </div>
<% end %>
