<%= turbo_frame_tag dom_id(document, :post) do %>
  <li
    class="post-document w-full mb-2 py-3 px-4 text-sm font-medium
           text-lb-soft-500 bg-fuchsia-50 rounded-xl flex"
  >
    <p class="inline-flex items-center justify-center leading-relaxed text-base">
      <svg
        class="w-4 h-4 fill-[none] stroke-current stroke-2"
        stroke-linecap="round"
        stroke-linejoin="round">
        <%= svg_icon("feather-sprite.svg", "file") %>
      </svg>

      <span class="inline-block mx-2 text-base">
        <%= document.file.filename.to_s %>
      </span>
    </p>

    <% if document.file.representable? %>
      <%= link_to(
        url_for(document.file),
        target: "_blank",
        rel: "noopener noreferrer",
        class: "inline-block ml-auto"
      ) do %>
        <div
          class="inline-flex items-center justify-center flex-shrink-0 h-6
                 rounded-lg bg-lb-soft-400 hover:bg-lb-soft-500 text-white">
          <span class="inline-block text-xs mr-2 pl-2">Open</span>
          <svg
            class="w-4 h-4 fill-[none] stroke-current stroke-2 mr-2"
            stroke-linecap="round"
            stroke-linejoin="round">
            <%= svg_icon("feather-sprite.svg", "external-link") %>
          </svg>
        </div>
      <% end %>
    <% end %>

    <%= link_to(
      rails_blob_path(document.file, disposition: 'attachment'),
      class: "inline-block #{document.file.representable? ? 'ml-2' : ' ml-auto'}"
    ) do %>
      <div
        class="inline-flex items-center justify-center flex-shrink-0 h-6
               rounded-lg bg-lb-soft-400 hover:bg-lb-soft-500 text-white">
        <span class="inline-block text-xs mr-2 pl-2">Download</span>
        <svg
          class="w-4 h-4 fill-[none] stroke-current stroke-2 mr-2"
          stroke-linecap="round"
          stroke-linejoin="round">
          <%= svg_icon("feather-sprite.svg", "download") %>
        </svg>
      </div>
    <% end %>

    <% if CMS::PostDocumentsPolicy.new(current_admin, @post).destroy? %>
      <%= link_to(
        cms_post_document_path(post, document),
        data: {
          turbo_method: :delete,
          turbo_confirm: 'Are you sure?'
        },
        class: "inline-block ml-2"
      ) do %>
        <div
          class="inline-flex items-center justify-center flex-shrink-0 h-6
                 rounded-lg bg-red-400 hover:bg-red-500 text-red-50">
          <span class="inline-block text-xs mr-2 pl-2">Remove</span>
          <svg
            class="w-4 h-4 fill-[none] stroke-current stroke-2 mr-2"
            stroke-linecap="round"
            stroke-linejoin="round">
            <%= svg_icon("feather-sprite.svg", "trash-2") %>
          </svg>
        </div>
      <% end %>
    <% end %>
  </li>
<% end %>
