<div id="dashboard-account" class="overflow-x-auto relative">
  <table class="w-full">
    <tbody>
      <tr class="border-b">
        <th scope="row" class="py-4 px-6 whitespace-nowrap capitalize font-normal">
          e-mail address
        </th>
        <td class="py-4 px-6 font-medium text-gray-900 break-all">
          <%= current_owner.email %>
        </td>
      </tr>

      <tr class="border-b">
        <th scope="row" class="py-4 px-6 whitespace-nowrap capitalize font-normal">
          Account Status
        </th>
        <td class="py-4 px-6 font-medium text-gray-900">
          <span class="capitalize"><%= current_owner.account_status %></span>
          <% if current_owner.linked? %>
            with <%= current_owner.properties.count %> property
            <%= "record".pluralize(current_owner.properties.count) %>
          <% end %>
        </td>
      </tr>

      <tr>
        <th scope="row" class="py-4 px-6" colspan="2">
          <%= render(Link::DefaultButtonComponent.new(
            href: edit_owner_registration_path,
            size: :small
          )) do |c| %>
            <% c.with_text.with_content("Edit Account") %>

            <% c.with_icon do %>
              <%= render(Icon::Outline::PencilSquareComponent.new(
                classes: "w-4 h-4 text-white"
              )) %>
            <% end %>
          <% end %>
        </th>
      </tr>
    </tbody>
  </table>
</div>
