<div class="mx-auto max-w-sm sm:max-w-none p-4 sm:px-24 md:px-28 lg:px-48">
  <%= render(Notice::Information::OwnerAccountLinkingComponent.new(
    user: current_owner, 
    id: "account-linking-notice",
  )) do | info_component | %>
    <% info_component.with_header do %>
      <%= render Notice::HeaderComponent.new do |header_component| %>
        <% header_component.with_icon do %>
          <%= render(Icons::Outline::InformationCircleComponent.new(
            classes: "w-5 h-5 mr-2 text-blue-900"
          )) %>
        <% end %>

        <% header_component.with_title do %>
          <%= render Notice::Header::TitleComponent.new(
            classes: "text-lg font-medium text-blue-900"
          ) do %>
            Link your property
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% info_component.with_body do %>
      <%= render(Notice::BodyComponent.new) do |body_component| %>
        <% body_component.with_body do %>
          <%= render(Notice::Body::ListComponent.new(
            classes: "space-y-2 mt-2 mb-4 text-sm text-blue-900"
          )) do |component| %>
            <% component.with_item do %>
              You are requested to link this account with your purchased property.
            <% end %>

            <% component.with_item do %>
              If you have more than one property linked with this email address, then
              you are requested to link all of those properties with this account.
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% info_component.with_footer do %>
      <%= render(Notice::FooterComponent.new) do |component| %>
        <% component.with_dismissal_button do %>
          <%= render(Notice::Footer::DismissalButtonComponent.new(
            spacing: "px-3 py-1.5",
            typography: "font-medium text-xs",
            color: "text-blue-900 border-blue-900 hover:bg-blue-900 " \
                   "hover:text-white focus:outline-none focus:ring-blue-200"
          )) do %>
            Dismiss
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% unless @profile.complete? %>
    <div 
      id="profile-notice"
      class="p-4 mb-8 border border-blue-300 rounded-lg bg-blue-50 transition-opacity duration-700"
      role="alert"
      data-controller="element-removal"
      data-element-removal-target="element"
      data-action="transitionend->element-removal#remove"
    >
      <div class="flex items-center">
        <svg
          aria-hidden="true"
          class="w-5 h-5 mr-2 text-blue-900"
          fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path 
            fill-rule="evenodd"
            d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
            clip-rule="evenodd"
          >
          </path>
        </svg>
        <span class="sr-only">Info</span>
        <h3 class="text-lg font-medium text-blue-900">
          Complete your profile
        </h3>
      </div>

      <ul class="space-y-2 mt-2 mb-4 text-sm text-blue-900">
        <li>
          You are requested to fill up the details and complete your profile.
        </li>
      </ul>

      <div class="flex">
        <button
          type="button"
          class="text-blue-900 bg-transparent border border-blue-900 hover:bg-blue-900
                 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-200
                 font-medium rounded-lg text-xs px-3 py-1.5 text-center"
          aria-label="Close"
          data-action="element-removal#hide"
        >
          Dismiss
        </button>
      </div>
    </div>
  <% end %>

  <p class="text-2xl sm:text-3xl font-extralight text-slate-800">
    <%= turbo_frame_tag "dashboard-greeting" do %>
      <%= render "greet", full_name: @profile.full_name %>
    <% end %>
  </p>

  <ul
    id="dashboard-tabs"
    class="pl-2 mt-8 flex flex-wrap text-sm font-medium text-center text-gray-500"
    data-controller="owners--dashboards--tab"
    data-owners--dashboards--tab-index-value="0"
  >
    <li class="mr-2" data-owners--dashboards--tab-target="item">
      <%= link_to(
        "Account",
        account_owners_dashboard_path,
        class: "inline-block p-4 rounded-t-lg",
        data: {
          action: "owners--dashboards--tab#select",
          owners__dashboards__tab_id_param: "0",
          turbo_frame: "dashboard-content"
        }
      )%>
    </li>

    <li clss="mr-2" data-owners--dashboards--tab-target="item">
      <%= link_to(
        "Profile",
        profile_owners_dashboard_path,
        class: "inline-block p-4 rounded-t-lg",
        data: {
          action: "owners--dashboards--tab#select",
          owners__dashboards__tab_id_param: "1",
          turbo_frame: "dashboard-content"
        }
      )%>
    </li>

    <li data-owners--dashboards--tab-target="item">
      <%= link_to(
        "Properties",
        properties_owners_dashboard_path,
        class: "inline-block p-4 rounded-t-lg",
        data: {
          action: "owners--dashboards--tab#select",
          owners__dashboards__tab_id_param: "2",
          turbo_frame: "dashboard-content"
        }
      )%>
    </li>
  </ul>

  <div class="w-full md:w-4/5 xl:w-3/5 2xl:w-1/2 text-sm text-left text-gray-500
    border border-fuchsia-100 rounded-lg">
    <%= turbo_frame_tag "dashboard-content", src: account_owners_dashboard_path %>
  </div>
</div>
