<main>
  <h3>
    Hello <%= @profile.full_name %>
  </h3>

  <p>
    Your membership request of LB Website for Flat <%= @apartment.flat_number %> in Tower <%= @apartment.tower_number %> has been <strong><%= @membership.membership_state %></strong>.
  </p>

  <% if @membership.rejected? %>
  <p>
    Remark by the Admin for rejecting your request is:
  </p>

  <p style="padding: 8px; background-color: #f5f5f5; width: fit-content; border-radius: 4px;">
    <%= @membership.remark %>
  </p>

  <p>
    You are advised to visit <%= link_to "dashboard", owners_dashboard_url %> and resubmit this request after filling in correct information.
  </p><br>

  <p>
    This rejection has no bearing on your actual membership of LB AOA, it is just for the website.
  </p>
  <% end %>
  <p>
  Regards,<br>
  LB AOA Web Admin
  </p>
</main>
