<%= turbo_frame_tag :posts do %>
  <div class="flex flex-wrap">
    <div class="basis-1/2 pr-4"
      data-controller="dashboard--list"
      data-dashboard--list-target="list"
      data-dashboard--list-source-value="<%= cms_posts_url(status: "draft") %>"
      data-dashboard--list-item-value="">
      <%= turbo_frame_tag(
        "draft_posts",
        src: cms_posts_path(status: "draft"),
        class: "space-y-3"
      ) do %>
        <%= render(
          partial: "shared/spinner",
          locals: { text: "text-indigo-50", fill: "fill-indigo-600" }
        )%>
      <% end %>
    </div>

    <div class="basis-1/2 pl-4"
      data-controller="dashboard--list"
      data-dashboard--list-target="list"
      data-dashboard--list-source-value="<%= cms_posts_url(status: "published") %>"
      data-dashboard--list-item-value="">
      <%= turbo_frame_tag(
        "published_posts",
        src: cms_posts_path(status: "published"),
        class: "space-y-3"
      ) do %>
        <%= render(
          partial: "shared/spinner",
          locals: { text: "text-indigo-50", fill: "fill-indigo-600" }
        )%>
      <% end %>
    </div>
  </div>
<% end %>
