<%= turbo_frame_tag "#{@status}_tenders" do %>
  <div class="grid gap-10 md:grid-cols-2 xl:grid-cols-3 mb-4">
    <%= render partial: "tender", collection: @tenders %>
  </div>

  <br class="hidden lg:block">
  
  <% if @status == "upcoming" %>
    <%= render(
      partial: "shared/navigation_controls",
      locals: {
        frame: "tenders",
        pagy: @pagy,
        prev_path: @pagy.prev ? upcoming_tenders_path(page: @pagy.prev) : "#",
        next_path: @pagy.next ? upcoming_tenders_path(page: @pagy.next) : "#"
      }
    )%>
  <% end %>
  
  <% if @status == "current" %>
    <%= render(
      partial: "shared/navigation_controls",
      locals: {
        frame: "tenders",
        pagy: @pagy,
        prev_path: @pagy.prev ? current_tenders_path(page: @pagy.prev) : "#",
        next_path: @pagy.next ? current_tenders_path(page: @pagy.next) : "#"
      }
    )%>
  <% end %>
  
  <% if @status == "under_review" %>
    <%= render(
      partial: "shared/navigation_controls",
      locals: {
        frame: "tenders",
        pagy: @pagy,
        prev_path: @pagy.prev ? under_review_tenders_path(page: @pagy.prev) : "#",
        next_path: @pagy.next ? under_review_tenders_path(page: @pagy.next) : "#"
      }
    )%>
  <% end %>
  
  <% if @status == "reviewed" %>
    <%= render(
      partial: "shared/navigation_controls",
      locals: {
        frame: "tenders",
        pagy: @pagy,
        prev_path: @pagy.prev ? reviewed_tenders_path(page: @pagy.prev) : "#",
        next_path: @pagy.next ? reviewed_tenders_path(page: @pagy.next) : "#"
      }
    )%>
  <% end %>
<% end %>
