<div class="mx-auto mb-8 px-6 w-full sm:px-16 lg:w-3/4 xl:w-7/12">
  <%= link_to :back, class: "inline-flex items-center justify-center text-slate-400 mb-6" do %>
    <svg
      class="w-7 h-7 fill-[none] stroke-current stroke-2"
      stroke-linecap="round"
      stroke-linejoin="round">
      <use href="/assets/feather-sprite.svg#arrow-left-circle" />
    </svg>

    <span class="inline-block ml-3 text-xl font-light">
      Back
    </span>
  <% end %>

  <h1 class="text-2xl lg:text-3xl xl:text-4xl mb-1 text-zinc-900">
    <%= @tender.title %>
  </h1>

  <h2 class="font-mono text-xs lg:text-sm mb-1 xl:mb-2 text-zinc-500">
    <%= @tender.reference_token %>
  </h2>

  <div class="inline-flex items-center justify-center text-slate-400 mb-1">
    <svg
      class="w-3 h-3 xl:w-4 xl:h-4 fill-[none] stroke-current stroke-2"
      stroke-linecap="round"
      stroke-linejoin="round">
      <use href="/assets/feather-sprite.svg#calendar" />
    </svg>

    <span class="inline-block mx-2 text-xs xl:text-base">
      <%= @tender.published_at.strftime("%d %b %Y") %>
    </span>
  </div>

  <div class="flex items-center mb-4 xl:mb-6 text-slate-400">
    <svg
      class="w-3 h-3 xl:w-4 xl:h-4 fill-[none] stroke-current stroke-2 mr-2"
      stroke-linecap="round"
      stroke-linejoin="round">
      <use href="/assets/feather-sprite.svg#clock" />
    </svg>

    <time class="block text-xs lg:text-sm xl:text-base
                font-normal leading-none">
      <%= @tender.opens_on.strftime("%d %b %Y, %H:%M") %>
    </time>

    <span class="mx-1">
      &mdash;
    </span>

    <time class="block text-xs lg:text-sm xl:text-base
                font-normal leading-none">
      <%= @tender.closes_on.strftime("%d %b %Y, %H:%M") %>
    </time>
  </div>

  <div class="flex mb-8 xl:mb-12">
    <span class="bg-purple-100 text-purple-800 text-xs font-semibold mr-2
                 px-2.5 py-0.5 rounded capitalize">
      <%= @tender.publication_state %>
    </span>
    <span class="bg-purple-100 text-purple-800 text-xs font-semibold mr-2
                 px-2.5 py-0.5 rounded capitalize">
      <%= @tender.notice_state.titleize %>
    </span>
  </div>

  <% if @tender.reviewed? %>
    <div class="tender-selection bg-green-50 text-green-600 text-sm rounded-lg p-4 mb-8 xl:mb-12">
      <h2 class="mb-2">
      Awarded to 
      <span class="font-bold"><%= @tender.selection.bid.quotation_token %></span> 
      by <span class="font-bold"><%= @tender.selection.bid.name %></span>
      </h2>

      <h3 class="font-bold">
        Reason
      </h3>
      <p>
        <%= @tender.selection.reason %>
      </p>
    </div>
  <% end %>

  <div class="text-gray-800 mb-8">
    <h1 class="text-purple-500 font-semibold mb-1">
      Description
    </h1>
    <%= @tender.description %>
  </div>

  <div class="py-2 mb-8">
    <h2 class="mb-2 pl-2 text-purple-700 font-medium">
      Attachments
    </h2>

    <%= turbo_frame_tag(
      :attachments,
      src: tender_documents_path(@tender),
      loading: :lazy
    ) do %>
      <div class="flex w-full rounded-xl animate-pulse bg-purple-50 py-3 px-2
                  text-purple-500 font-light text-base">
        Loading attachments...
      </div>
    <% end %>
  </div>

  <% if TMS::BidPolicy.new(nil, @tender).new? %>
    <%= turbo_frame_tag "tender-bid" do %>
      <%= link_to(
        "Submit a bid",
        new_tender_bid_path(@tender),
        class: "block btn btn--normal btn--violet"
      )%>
    <% end %>
  <% end %>

  <% if @tender.under_review? || @tender.reviewed? %>
    <%= render partial: "bids", locals: { tender: @tender } %>
  <% end %>
</div>
