<div class="mb-8 px-4 py-4 rounded-lg shadow">
  <%= form_with model: [:management, membership], id: dom_id(membership) do |form| %>
    <% if membership.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-600 text-sm rounded-lg p-6 mb-6">
        <h2 class="font-medium mb-2">
          <%= pluralize(membership.errors.count, "error") %> prohibited this post from being updated
        </h2>

        <ul role="list" class="list-inside list-disc">
          <% membership.errors.full_messages.each do |message| %>
            <li class="font-light"><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <h1 class="mb-4 text-xl text-gray-600 font-bold">
      Membership Details
    </h1>

    <ul class="mb-4 flex gap-x-12 items-center">
      <li>
        <h3 class="text-sm text-gray-400">
          Email Address
        </h3>
        <p class="text-base text-gray-800">
          <%= membership.property.owner.email %>
        </p>
      </li>

      <li>
        <h3 class="text-sm text-gray-400">
          Phone Nunber
        </h3>
        <p class="text-base text-gray-800">
          <% if membership.property.owner.profile.phone_number.blank? %>
            &nbsp;
          <% else %>
            <%= membership.property.owner.profile.phone_number %>
          <% end %>
        </p>
      </li>
    </ul>

    <ul class="mb-4 flex gap-x-12 items-center">
      <li>
        <h3 class="text-sm text-gray-400">
          First Name
        </h3>
        <p class="text-base text-gray-800">
          <%= membership.property.owner.profile.first_name %>
        </p>
      </li>

      <li>
        <h3 class="text-sm text-gray-400">
          Middle Name
        </h3>
        <p class="text-base text-gray-800">
        <% if membership.property.owner.profile.middle_name.blank? %>
          &nbsp;
        <% else %>
          <%= membership.property.owner.profile.middle_name %>
        <% end %>
        </p>
      </li>

      <li>
        <h3 class="text-sm text-gray-400">
          Last Name
        </h3>
        <p class="text-base text-gray-800">
          <%= membership.property.owner.profile.last_name %>
        </p>
      </li>
    </ul>

    <ul class="mb-4 flex flex-wrap gap-x-12 items-center">
      <li>
        <h3 class="text-sm text-gray-400">
          Tower Number
        </h3>
        <p class="text-base text-gray-800">
          <%= membership.property.apartment.tower_number %>
        </p>
      </li>

      <li>
        <h3 class="text-sm text-gray-400">
          Flat Number
        </h3>
        <p class="text-base text-gray-800">
          <%= membership.property.apartment.flat_number %>
        </p>
      </li>
    </ul>

    <ul class="mb-4 flex flex-wrap gap-x-12 items-center">
      <li>
        <h3 class="text-sm text-gray-400">
          Purchased On
        </h3>
        <p class="text-base text-gray-800">
          <%= membership.property.purchased_on.strftime("%d %B %Y") %>
        </p>
      </li>

      <li>
        <h3 class="text-sm text-gray-400">
          Registered
        </h3>
        <p class="text-base text-gray-800">
          <%= membership.property.registered ? "Yes" : "No" %>
        </p>
      </li>

      <li>
        <h3 class="text-sm text-gray-400">
          Primary Owner
        </h3>
        <p class="text-base text-gray-800">
          <%= membership.property.primary_owner ? "Yes" : "No" %>
        </p>
      </li>
    </ul>

    <ul class="mb-4 flex flex-wrap gap-x-12 items-center">
      <li>
        <h3 class="text-sm text-gray-400">
          Membership State
        </h3>
        <p class="text-base text-gray-800">
          <%= membership.membership_state.humanize %>
        </p>
      </li>
    </ul>

    <% if membership.membership_state == "under_review" || membership.membership_state == "approved" %>
      <div id="membership-details-fields">
        <div class="field mb-4">
          <%= form.label :transition, "Transition to", class: "capitalize text-sm text-gray-400" %>
          <%= form.select(
            :transition,
            transition_actions(membership.membership_state).map { |w| [w.humanize, w] },
            {},
            class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-1/4 px-2 py-0.5"
          )%>
        </div>

        <% if membership.membership_state == "under_review" %>
          <div class="field mb-4">
            <%= form.label :remark, class: "text-sm text-gray-400" %>
            <%= form.text_field(
              :remark,
              placeholder: "Add remark if rejecting",
              class: "border border-gray-300 text-gray-900 text-sm p-2.5 block w-full
                      rounded-lg focus:ring-blue-500 focus:border-blue-500"
            )%>
          </div>
        <% end %>

        <div class="action">
          <%= form.submit class: "btn btn--small btn--primary" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
