<%= turbo_frame_tag "main" do %>
  <div
    class="mx-auto w-1/2"
    data-controller="dashboard--list"
    data-dashboard--list-target="list"
    data-dashboard--list-source-value=""
    data-dashboard--list-item-value="">
    <%= turbo_frame_tag "membership-details" do %>
      <div class="mb-8 px-4 py-4 rounded-lg shadow">
        <h1 class="mb-4 text-xl text-gray-600 font-bold">
          Membership Details
        </h1>

        <ul class="mb-4 flex gap-x-12 items-center">
          <li>
            <h3 class="text-sm text-gray-400">
              Email Address
            </h3>
            <p class="text-base text-gray-800">
              &nbsp;
            </p>
          </li>

          <li>
            <h3 class="text-sm text-gray-400">
              Phone Nunber
            </h3>
            <p class="text-base text-gray-800">
              &nbsp;
            </p>
          </li>
        </ul>

        <ul class="mb-4 flex gap-x-12 items-center">
          <li>
            <h3 class="text-sm text-gray-400">
              First Name
            </h3>
            <p class="text-base text-gray-800">
              &nbsp;
            </p>
          </li>

          <li>
            <h3 class="text-sm text-gray-400">
              Middle Name
            </h3>
            <p class="text-base text-gray-800">
              &nbsp;
            </p>
          </li>

          <li>
            <h3 class="text-sm text-gray-400">
              Last Name
            </h3>
            <p class="text-base text-gray-800">
              &nbsp;
            </p>
          </li>
        </ul>

        <ul class="mb-4 flex flex-wrap gap-x-12 items-center">
          <li>
            <h3 class="text-sm text-gray-400">
              Tower Number
            </h3>
            <p class="text-base text-gray-800">
              &nbsp;
            </p>
          </li>

          <li>
            <h3 class="text-sm text-gray-400">
              Flat Number
            </h3>
            <p class="text-base text-gray-800">
              &nbsp;
            </p>
          </li>
        </ul>

        <ul class="mb-4 flex flex-wrap gap-x-12 items-center">
          <li>
            <h3 class="text-sm text-gray-400">
              Purchased On
            </h3>
            <p class="text-base text-gray-800">
              &nbsp;
            </p>
          </li>

          <li>
            <h3 class="text-sm text-gray-400">
              Registered
            </h3>
            <p class="text-base text-gray-800">
              &nbsp;
            </p>
          </li>

          <li>
            <h3 class="text-sm text-gray-400">
              Primary Owner
            </h3>
            <p class="text-base text-gray-800">
              &nbsp;
            </p>
          </li>
        </ul>

        <ul class="mb-4 flex flex-wrap gap-x-12 items-center">
          <li>
            <h3 class="text-sm text-gray-400">
              Membership State
            </h3>
            <p class="text-base text-gray-800">
            &nbsp;
            </p>
          </li>
        </ul>

        <% if @status == "under_review" || @status == "approved" %>
          <div class="field mb-4">
            <label class="text-sm text-gray-400">
              Transition to
            </label>
            <select disabled class="bg-gray-50 border border-gray-300 text-gray-900
              text-sm rounded-lg block w-1/4 p-0.5">
            </select>
          </div>

          <div class="field mb-4">
            <label class="text-sm text-gray-400" for="membership_remark">Remark</label>
            <input 
              class="border border-gray-300 text-gray-900 text-sm p-2.5 block
                     w-full rounded-lg focus:ring-blue-500 focus:border-blue-500"
              type="text"
              disabled
            >
          </div>

          <div class="flex gap-x-2 items-center">
            <%= link_to "Update Membership", "#", class: "btn btn--small btn--primary pointer-events-none" %>
          </div>
        <% end %>
      </div>
    <% end %>

    <%= turbo_frame_tag(
      "#{@status}_memberships"
    )do %>
      <%= render partial: "list", locals: {
        status: @status, memberships: @memberships, pagy: @pagy 
      } %>
    <% end %>
  </div>
<% end %>
