<!DOCTYPE html>
<html>
  <head>
    <title>Lotus Boulevard AOA</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/navbar_admin" %>

    <%= turbo_frame_tag(
      "flash-messages",
      data: {
        controller: "toast",
        toast_top_position_class: "top-20",
        toast_timeout_value: Rails.env.test? ? 0 : 5000
      }
    ) do %>
      <%= flash_messages %>
    <% end %>

    <% if admin_signed_in? %>
      <div class="grid gap-x-8 grid-cols-[min-content_1fr]">
        <%= render "shared/sidebar" %>

        <div class="relative container mx-auto pt-24">
          <%= yield %>
        </div>
      </div>
    <% else %>
      <div class="relative container mx-auto pt-24">
        <%= yield %>
      </div>
    <% end %>
  </body>
</html>
