<!DOCTYPE html>
<html>
  <head>
    <title>Lotus Boulevard AOA</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag GoogleAnalytics::JS_URL, async: true, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body data-tracking-id="<%= GoogleAnalytics::TRACKING_ID %>">
    <%= render "shared/navbar_front" %>

    <%= turbo_frame_tag(
      "flash-messages",
      data: {
        controller: "toast",
        toast_top_position_class: "top-20",
        toast_timeout_value: Rails.env.test? ? 0 : 5000
      }
    ) do %>
      <%= flash_messages %>
    <% end %>

    <div class="relative container mx-auto pt-6">
      <%= yield %>
    </div>

    <div data-controller="modal">
      <%= turbo_frame_tag "modal" %>
    </div>
  </body>
</html>
